 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 } 

/* Shared Style  */
.logo h2{
    font-size: 45px;
}
.orange-color{
    color: #FD6E0A;
}
.btn{
    background-color: #FD6E0A;
    border-radius: 5px;
    border: none;
    padding: 18px 36px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.section-heading{
    max-width: 827px;
    text-align: center;
    margin: 0 auto;
}


.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}

/* main style */


header{
    background-color: #FFF8F3;
    padding-top: 50px;
    background:url(../images/developer.png),url(../images/header_bg.png), #FFF8F3 ;
    background-repeat: no-repeat;
    background-position: top left,bottom right;
}

nav{
    width: 67%;
    max-width: 1140px;
    margin:0px auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
nav ul{
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;

}
nav ul a{
    text-decoration: none;
    font-size: 20px;
    color: #474747;
}
#banner{
    /* border: 1px solid red; */
    display: flex;
    margin: 46px 38px 0px 230px;
    justify-content: space-between;
    align-items: center;
}
.banner-content{
    max-width: 585px;
}
.banner-content h2{
    font-size:45px;
    color: #474747;
    font-weight: 600px;
    margin-bottom: 5px;
    
}
.banner-content h1{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
}
.banner-content p{
    font-size: 18px;
    color: #757575;
    margin-top: 39px;
    margin-bottom: 30px;
    line-height: 30px;
}

.banner-image img{
    max-width: 584px;
    vertical-align: middle;
}

#about{
    padding-top: 130px;
}
.about-container{
    width: 1140px;
    max-width: 67%;
    padding: 131px 157px 131px 156px;
    text-align: center;
    margin: 0 auto;
    background-color: #FFF8F3;
}

.section-heading h2{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 30px;
}
.section-heading p{
    font-size: 18px;
    font-weight: 400px;
    color:#757575;
    line-height: 30px;
    margin-bottom: 30px;
}
.about-info{
    display: flex;
    justify-content: space-around;
    
}
.Info-card p{
    font-size: 20px;
    color: #757575;
    font-weight: 400px;
    line-height: 30px;
    
}
.Info-card h4{
    font-size: 20px;
    font-weight: bold;
    color: #474747;
}

#skills{
    padding-top: 130px;
}
.skills-container{
    width:1140px;
    max-width: 67%;
    margin: 0 auto ;

}

.skill-box{
    display: flex;
    gap: 24px;
}
.Skill-card{

    padding: 30px;
    max-width: 267px;
    box-shadow: 0px 6px 50px 0px #00000020;
    /* border: 1px solid red; */
}
.Skill-card img{
    max-width: 44px;
    margin-bottom: 30px;
}
.Skill-card h4{
    font-size: 20px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}
.Skill-card p{
    font-size: 16px;
    font-weight: 400px;
    color: #757575;
    line-height: 28px;
    /* max-width: 201px; */
 
}


